@model Blog.Models.Images

@{
    ViewBag.Title = "Загрузить изображение";
}

<h1>Загрузить изображение</h1>

@using (Html.BeginForm("Load", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div class="form-token">@Html.AntiForgeryToken()</div>

    <div class="form-group">
        <div class="input-control file" data-role="input">
            <input type="file" name="file" />
            <button class="button"><span class="mif-folder"></span></button>
        </div>
    </div>

    <div class="form-group">
        <div class="input-control submit">
            <button type="submit" class="button primary">Загрузить</button>
            @Html.ActionLink("Назад", "Index", null, new { @class = "button link" })
        </div>
    </div>
}